<section class="page">
  @if ((href !== "/") && (href !== '/auth')) {
    <nav class="page__navigation-bar" >
      <div class="page__navigation-bar__header">
        <!--      <img class="page__navigation-bar__header&#45;&#45;profile-image" src="assets/images/profile-image.jpg" alt="profile-image"/>-->
      </div>
      <section class="page__navigation-bar__links-bar">

        <button class="page__navigation-bar__links-bar--chat-button" routerLink="/chat">
          <img class="icon" src="assets/icons/letter.svg" alt="letter-icon"/>
        </button>

        <button class="page__navigation-bar__links-bar--settings-button" routerLink="/settings">
          <img class="icon" src="assets/icons/setting.svg" alt="settings-icon"/>
        </button>

        <button class="page__navigation-bar__links-bar--logout-button" routerLink="/auth">
          <img src="assets/icons/sign-out.svg" class="icon" alt="sign-out-icon"/>
        </button>
      </section>
    </nav>
  }
  <section class="main">
    <router-outlet></router-outlet>
  </section>
</section>
