<section class="chat-page">
  <section class="list-of-chats">
    <header class="list-of-chats__header">
      <input class="list-of-chats__header--input" placeholder=" Сhat search...">
      <button class="list-of-chats__header--create-chat-button" (click)="openModal=true"> New</button>
    </header>
  </section>

  <section class="current-chat">

    <header class="current-chat__header">
      <button class="current-chat__header--list-hide-button">
        <
      </button>
      <span class="current-chat__header--date">Today</span>
      <button class="current-chat__header--info-hide-button">
        >
      </button>
    </header>

    <section class="current-chat__chat-container">

    </section>

    <footer class="current-chat__footer">
      <input class="current-chat__footer--input" placeholder=" Write something good :)">
      <button class="current-chat__footer--submit-button">

      </button>
    </footer>

  </section>

  <section class="chat-info">

  </section>

  @if (openModal) {
    <app-create-chat-modal ></app-create-chat-modal>
  }
</section>
