.main-container {
  display: flex;
  flex-direction: column;
  height: 70vh;
  width: 50vw;
  margin-left: 23vw;
  margin-top: 13vh;

  background: aliceblue;
  border: solid 1px black;
  border-radius: 3rem;

  row-gap: 5rem;
  align-items: center;
  justify-content: center;

  &__header {
    width: 90%;
    display: flex;
    flex-direction: row;

    background: #BEEF9E;
    border-radius: 3rem;

    margin-top: 1rem;

    &--title{
      margin-left: 41%;
    }

    &--back-button {
      width: 5%;
      margin-left: 1rem;
      border: solid 2px black;
      border-radius: 3rem;
      background: aliceblue;
    }
  }
  &__form {
    display: flex;
    flex-direction: column;
    row-gap: 1vh;

    background: aliceblue;

    &--input {
      border-radius: 3rem;
      border: solid 1px black;
    }

    &--submit-button {
      border: solid 2px black;
      border-radius: 3rem;
    }
  }

  &--button {
    border-radius: 3rem;
    height: 12%;
    width: 80%;
    font-size: 2rem;
    border: solid 2px black;
    transition: 0.5s;

    &:hover {
      cursor: pointer;
      width: 81%;
      height: 13%;
      background: #55D6BE;
    }
  }
}
